<h2 align="center">Results for resources violations</h2>
<hr />
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2 id="uvt"></h2>
    <p id="uvol"></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Untagged ec2 </h2>
    <p id="uec2" class="ldBar" data-value="50"></p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Unattached volumes</h2>
    <p id="us3"></p>
  </div>
</div>

{{outlet}}